In [7]:
# Assignment 2 of 4

# LUBAMBO Simon B00145 J23MD10/223

# Exercise 2

RUBRICS
- Correct values and approach.
- Number of additional data wrangling techniques demonstrated.
- Any added comment on the exercise.
- Provide a single Jupyter Notebook file for your solution.

# Step 1: Combing 5 fao datasets into one

In [8]:
import numpy as np
import pandas as pd

# importing datasets from the FAO website
df1 = pd.read_csv('Environment_Cropland_nutrient_budget.csv', encoding='ISO-8859-1')
print(df1.iloc[:, :10].head())
df2 = pd.read_csv('Environment_LandCover.csv', encoding='ISO-8859-1')
print(df2.iloc[:, :10].head())
df3 = pd.read_csv('Environment_LivestockPatterns.csv', encoding='ISO-8859-1')
print(df3.iloc[:, :10].head())
df4 = pd.read_csv('Environment_Temperature_change.csv', encoding='ISO-8859-1')
print(df4.iloc[:, :10].head())
df5 = pd.read_csv('Inputs_LandUse_E_All_Data.csv', encoding='ISO-8859-1')
print(df5.iloc[:, :10].head())

C:\Users\user\AppData\Local\Temp\ipykernel_9576\88276154.py:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('Environment_Cropland_nutrient_budget.csv', encoding='ISO-8859-1')

   Area Code Area Code (M49)         Area  Item Code                   Item  \
0          2            '004  Afghanistan       5061  Synthetic Fertilizers
1          2            '004  Afghanistan       5061  Synthetic Fertilizers
2          2            '004  Afghanistan       5061  Synthetic Fertilizers
3          2            '004  Afghanistan       5061  Synthetic Fertilizers
4          2            '004  Afghanistan       5061  Synthetic Fertilizers

   Element Code            Element  Year Code  Year Unit
0          7275  Cropland nitrogen       1961  1961    t
1          7275  Cropland nitrogen       1962  1962    t
2          7275  Cropland nitrogen       1963  1963    t
3          7275  Cropland nitrogen       1964  1964    t
4          7275  Cropland nitrogen       1965  1965    t
   Area Code Area Code (M49)         Area  Item Code  \
0          2            '004  Afghanistan       6970
1          2            '004  Afghanistan       6970
2          2            '004  Afghanistan       6970
3          2            '004  Afghanistan       6970
4          2            '004  Afghanistan       6970

                                                Item  Element Code  \
0  Artificial surfaces (including urban and assoc...          5006
1  Artificial surfaces (including urban and assoc...          5006
2  Artificial surfaces (including urban and assoc...          5006
3  Artificial surfaces (including urban and assoc...          5006
4  Artificial surfaces (including urban and assoc...          5006

          Element  Year Code  Year     Unit
0  Area from CGLS       2015  2015  1000 ha
1  Area from CGLS       2016  2016  1000 ha
2  Area from CGLS       2017  2017  1000 ha
3  Area from CGLS       2018  2018  1000 ha
4  Area from CGLS       2019  2019  1000 ha
   Area Code Area Code (M49)         Area  Item Code Item Code (CPC)   Item  \
0          2            '004  Afghanistan       1107          '02132  Asses
1          2            '004  Afghanistan       1107          '02132  Asses
2          2            '004  Afghanistan       1107          '02132  Asses
3          2            '004  Afghanistan       1107          '02132  Asses
4          2            '004  Afghanistan       1107          '02132  Asses

   Element Code                                     Element  Year Code  Year
0          7213  Livestock units per agricultural land area       1961  1961
1          7213  Livestock units per agricultural land area       1962  1962
2          7213  Livestock units per agricultural land area       1963  1963
3          7213  Livestock units per agricultural land area       1964  1964
4          7213  Livestock units per agricultural land area       1965  1965
   Area Code Area Code (M49)         Area  Months Code   Months  Element Code  \
0          2            '004  Afghanistan         7001  January          7271
1          2            '004  Afghanistan         7001  January          7271
2          2            '004  Afghanistan         7001  January          7271
3          2            '004  Afghanistan         7001  January          7271
4          2            '004  Afghanistan         7001  January          7271

              Element  Year Code  Year Unit
0  Temperature change       1961  1961   °c
1  Temperature change       1962  1962   °c
2  Temperature change       1963  1963   °c
3  Temperature change       1964  1964   °c
4  Temperature change       1965  1965   °c
   Area Code Area Code (M49)         Area  Item Code          Item  \
0          2            '004  Afghanistan       6600  Country area
1          2            '004  Afghanistan       6600  Country area
2          2            '004  Afghanistan       6600  Country area
3          2            '004  Afghanistan       6600  Country area
4          2            '004  Afghanistan       6600  Country area

   Element Code Element  Year Code  Year     Unit
0          5110    Area       1961  1961  1000 ha
1          5110    Area       1962  1962  1000 ha
2          5110    Area       1963  1963  1000 ha
3          5110    Area       1964  1964  1000 ha
4          5110    Area       1965  1965  1000 ha

In [9]:
# The common columns are 'Area Code', 'Area Code (M49)', and 'Area'
common_columns = ['Area Code', 'Area Code (M49)', 'Area']

# Merge datasets
fao = pd.merge(df1, df2, on=common_columns, how='outer')
fao = pd.merge(fao, df3, on=common_columns, how='outer')
fao = pd.merge(fao, df4, on=common_columns, how='outer')
fao = pd.merge(fao, df5, on=common_columns, how='outer')

# Display the combined dataset
print(fao.head())