In [19]:
# Assignment 2 of 4

# LUBAMBO Simon B00145 J23MD10/223

# Exercise 2

RUBRICS
- Correct values and approach.
- Number of additional data wrangling techniques demonstrated.
- Any added comment on the exercise.
- Provide a single Jupyter Notebook file for your solution.

# Step 1: Combing 5 fao datasets into one

In [20]:
import numpy as np
import pandas as pd
import dask.dataframe as dd

# importing datasets from the FAO website
df1 = pd.read_csv('Environment_Cropland_nutrient_budget.csv', encoding='ISO-8859-1')
df2 = pd.read_csv('Environment_LandCover.csv', encoding='ISO-8859-1')
df3 = pd.read_csv('Environment_LivestockPatterns.csv', encoding='ISO-8859-1')
df4 = pd.read_csv('Environment_Temperature_change.csv', encoding='ISO-8859-1')
df5 = pd.read_csv('Inputs_LandUse_E_All_Data.csv', encoding='ISO-8859-1')

C:\Users\user\AppData\Local\Temp\ipykernel_17592\1770150092.py:6: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('Environment_Cropland_nutrient_budget.csv', encoding='ISO-8859-1')

# Adding Extra Columns on the Datasets

In [21]:
# Define a custom function for the derivation
def calculate_new_column(row):
    # Example: Derive the new column as the product of 'Item Code' and 'Element Code'
    return row['Item Code'] * row['Element Code']

# Apply the custom function to create the new column
df1['newColumn'] = df1.apply(calculate_new_column, axis=1)

df1.head()

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note,newColumn
0,2,'004,Afghanistan,5061,Synthetic Fertilizers,7275,Cropland nitrogen,1961,1961,t,500.0,E,NaN,36818775
1,2,'004,Afghanistan,5061,Synthetic Fertilizers,7275,Cropland nitrogen,1962,1962,t,500.0,E,NaN,36818775
2,2,'004,Afghanistan,5061,Synthetic Fertilizers,7275,Cropland nitrogen,1963,1963,t,500.0,E,NaN,36818775
3,2,'004,Afghanistan,5061,Synthetic Fertilizers,7275,Cropland nitrogen,1964,1964,t,550.0,E,NaN,36818775
4,2,'004,Afghanistan,5061,Synthetic Fertilizers,7275,Cropland nitrogen,1965,1965,t,550.0,E,NaN,36818775

# Dealing with Memory Issues, filtering out countries in East Africa

In [22]:
# Define the list of countries to retain
countries_to_retain = ['Uganda', 'Kenya', 'Tanzania']

# Filter for the specified countries
filtered_df1 = df1[df1['Area'].isin(countries_to_retain)]
filtered_df2 = df2[df2['Area'].isin(countries_to_retain)]
filtered_df3 = df3[df3['Area'].isin(countries_to_retain)]
filtered_df4 = df4[df4['Area'].isin(countries_to_retain)]
filtered_df5 = df5[df5['Area'].isin(countries_to_retain)]

In [23]:
# # The common columns are 'Area Code', 'Area Code (M49)', and 'Area'
common_columns = ['Area Code', 'Area Code (M49)', 'Area']

# # Merge datasets
fao = pd.merge(filtered_df1, filtered_df2, on=common_columns, how='outer')
# fao = pd.merge(fao, filtered_df3, on=common_columns, how='outer')
# fao = pd.merge(fao, filtered_df4, on=common_columns, how='outer')
# fao = pd.merge(fao, filtered_df5, on=common_columns, how='outer')

# Display the result
print(fao.head())

   Area Code Area Code (M49)   Area  Item Code_x                 Item_x  \
0        114            '404  Kenya         5061  Synthetic Fertilizers
1        114            '404  Kenya         5061  Synthetic Fertilizers
2        114            '404  Kenya         5061  Synthetic Fertilizers
3        114            '404  Kenya         5061  Synthetic Fertilizers
4        114            '404  Kenya         5061  Synthetic Fertilizers

   Element Code_x          Element_x  Year Code_x  Year_x Unit_x  ...  \
0            7275  Cropland nitrogen         1961    1961      t  ...
1            7275  Cropland nitrogen         1961    1961      t  ...
2            7275  Cropland nitrogen         1961    1961      t  ...
3            7275  Cropland nitrogen         1961    1961      t  ...
4            7275  Cropland nitrogen         1961    1961      t  ...

   newColumn Item Code_y                                             Item_y  \
0   36818775        6970  Artificial surfaces (including urban and assoc...
1   36818775        6970  Artificial surfaces (including urban and assoc...
2   36818775        6970  Artificial surfaces (including urban and assoc...
3   36818775        6970  Artificial surfaces (including urban and assoc...
4   36818775        6970  Artificial surfaces (including urban and assoc...

   Element Code_y       Element_y Year Code_y  Year_y   Unit_y  Value_y  \
0            5006  Area from CGLS        2015    2015  1000 ha   187.36
1            5006  Area from CGLS        2016    2016  1000 ha   187.76
2            5006  Area from CGLS        2017    2017  1000 ha   188.40
3            5006  Area from CGLS        2018    2018  1000 ha   188.93
4            5006  Area from CGLS        2019    2019  1000 ha   190.67

   Flag_y
0       E
1       E
2       E
3       E
4       E

[5 rows x 23 columns]